<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/iframeposts.css') }}">
    <title>Document</title>
</head>
<body>

    <section class="featured-posts">
        <div class="featured-main">
            <div class="featured-image">
                <img src="{{ url_for('static', filename='imagens/featured1.jpg') }}" alt="Post em destaque">
            </div>
            <a href="#" class="featured-content">
                <span class="category-tag">Tecnologia</span>
                <h2>Novo Smartphone com Tela Dobrável Chega ao Mercado com Preço Acessível</h2>
                <p class="excerpt">A marca XYZ acaba de lançar seu primeiro smartphone com tela dobrável,
                    prometendo resistência e desempenho por um preço 30% menor que os concorrentes.
                </p>
            </a>
        </div>

        <div class="featured-secondary">
            <a href="#" class="secondary-post">
                <div class="secondary-image">
                    <img src="{{ url_for('static', filename='imagens/featured2.png') }}" alt="Post secundário">
                </div>
                <div class="secondary-content">
                    <span class="category-tag2">Entretenimento</span>
                    <h3>Série brasileira indicada ao Grammy Internacional</h3>
                </div>
            </a>

            <a href="#" class="secondary-post">
                <div class="secondary-image">
                    <img src="{{ url_for('static', filename='imagens/featured3.png') }}" alt="Post secundário">
                </div>
                <div class="secondary-content">
                    <span class="category-tag3">Ciência</span>
                    <h3>Pesquisadores Brasileiros Descobrem Molécula que Pode Inibir Avanço do Alzheimer</h3>
                </div>
            </a>
        </div>
    </section>


    <section class="posts">
        {% for post in posts %}
        <article class="post card  {{ post.categoria | replace(' ', '-') | replace('á', 'a') | replace('ã', 'a') | replace('ç', 'c') | replace('é', 'e') | replace('í', 'i') | replace('ó', 'o') | replace('ú', 'u') }}">            
            <div class="post-header">
                <span class="user-name">{{ post.nome_autor }}</span>
                <span class="post-date">{{ post.data_postagem }}</span>
                <span class="post-category {{ post.categoria | replace(' ', '-') | replace('á', 'a') | replace('ã', 'a') | replace('ç', 'c') | replace('é', 'e') | replace('í', 'i') | replace('ó', 'o') | replace('ú', 'u') }}">{{ post.categoria }}</span>
            </div>
            <a href="{{ url_for('post', id=post.id) }}"  target = "_blank" class="post-link">
                <div class="post-content">

                    {% if post['midia'] %}
    <div class="post-media">
        {% if post['midia'][:4] == 'http' %}
            <!-- Se for uma URL externa -->
            <img src="{{ post['midia'] }}" alt="Mídia do post" style="max-width: 100%;">
        {% elif post['midia'] != 'Não informado' %}
            <!-- Se for um arquivo no servidor e a mídia for válida -->
            <img src="{{ url_for('static', filename=post['midia']) }}" alt="Mídia do post" style="max-width: 100%;">
        {% else %}
            <!-- Caso contrário, se a mídia não estiver informada -->
            <p>Imagem não disponível.</p>
        {% endif %}
    </div>
{% endif %}

                    <div class="post-footer">
                        <h5>{{ post.titulo }}</h5>
                    </div>
                </div>
            </a>
        </article>
        {% endfor %}
    </section>
    <script src="{{ url_for('static', filename='js/mode.js') }}"></script>
</body>
</html>

